<% if current_user %>
<h2>Thanks you for your donation of <strong><%= number_to_currency(sprintf('%.2f', current_user.donations.last.amount ))%></strong></h2>
<% else %>
<h2>Thanks you for your donation of <strong><%= number_to_currency(sprintf('%.2f', @charge.amount ))%></strong></h2>
<% end %>