<div class="container">
	<h1>Thanks For Your Donation! </h1>
	<ul>
		<li> Amount: <%= number_to_currency(@donation.amount) %></li>
		<li> A confirmation email has been sent to: <%= @email %></li>
		<li> Reference Number: <%= @donation.uid %></li>
	</ul>
</div>