// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminsIndexContainer {
  text-align: center;
  margin: 50px auto;

  h3 {
    color: steelblue;
  }

}

.users-table table {
  margin: 50px auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.users-table td, th {
  border: 1px solid #dddddd ;
  text-align: center;
  padding: 8px;
}

.users-table tr:nth-child(even) {
  background-color: #dddddd ;
}

