table th {
  text-decoration: underline;
  text-align: center;
}

table td {
  text-align: center;
}

i {
  cursor: pointer;
}

#payment-form {
  border-style: groove;
  margin: 10px;
  padding: 10px;
}