<p>Hello <%= @resource.email %>!</p>


<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% if @resource.role == "Admin" %>
  <p>If an amin account was recently created for you. Follow the link below to set your initial password.</p>
<% end %>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<% if @resource.role == "Admin" %>
  <p>If you do not request a password change or the creation of a new account, please ignore this email.</p>
<% else %>
  <p>If you didn't request this, please ignore this email.</p>
<% end %>

<p>Your password won't change until you access the link above and create a new one.</p>