<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="description" content="AMI Association Montessori Internationale international montessori motnessori montesori montesorri teacher training Atlanta Georgia">
    
    <meta name="keywords" content="Montessori teacher, teacher training, Montessori teacher training, AMI, Association Montessori Internationale, Atlanta, GA, Georgia, international, institute">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <%= csrf_meta_tags %>

    <!-- Title  -->
    <title>International Montessori Training Institute, Atlanta, Georgia</title>

    <!-- Favicon  -->
    <link rel="shortcut icon" href="assets/compass-rose-tiny.png">

    <!-- ===================== All CSS Files ===================== -->

    <!-- Style css -->
    <link rel="stylesheet" href="assets/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Color Changer css -->
    <link rel="stylesheet" href="assets/css/color-changer.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!--[if IE]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
  

    <%= render "/shared/alerts" %>
    <%= yield %>


</body>

</html>